@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans|Raleway|Roboto|Roboto+Condensed|Titillium+Web');

$color1: rgba(160, 110, 24, 1);
$color2: rgba(204, 183, 148, 1);
$color3: rgba(84, 73, 75, 1);
$color4: rgba(113, 103, 124, 1);
$color5: rgba(252, 246, 177, 1);
$color6: #e6e6e6;
$color7: #333;

$font-roboto: 'Roboto', serif;
$font-roboto-condensed: 'Roboto Condensed', serif;
$font-pt-sans: 'PT Sans', serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-titillium: 'Titilium Web', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$a: 'a, a:active, a:hover, a:visited';
$a-hover: 'a:active, a:hover';
